/* .h1-class{
  color: rgb(133, 133, 8);  
} */
@media (min-width:577px) {
  .h1-class{
  color: rgb(133, 133, 8);  
  background-color: rgb(174, 195, 174);
}  
.h2-class{
    color: rgb(99, 65, 58);  
  background-color: rgb(180, 174, 195);  
}


}




@media (max-width:576px) {
  .h1-class{
  color: rgb(133, 8, 18);  
  background-color: rgb(32, 127, 126);
}  
}